.checkoutForm {
    margin-top: 30px;
    .checkoutCol {
        margin-bottom: 15px;
        .checkoutField {
            width: 100%;
        }
        p {
            color: #dc3545;
        }
    }
}